/* Coolors Exported Palette - https://coolors.co/20beff-f6f0ed-fc814a-16262e-2b2d42 */

/* CSS HEX */
--deep-sky-blue: #20beffff;
--isabelline: #f6f0edff;
--coral: #fc814aff;
--gunmetal: #16262eff;
--space-cadet: #2b2d42ff;

/* CSS HSL */
--deep-sky-blue: hsla(197, 100%, 56%, 1);
--isabelline: hsla(20, 33%, 95%, 1);
--coral: hsla(19, 97%, 64%, 1);
--gunmetal: hsla(200, 35%, 13%, 1);
--space-cadet: hsla(235, 21%, 21%, 1);

/* SCSS HEX */
$deep-sky-blue: #20beffff;
$isabelline: #f6f0edff;
$coral: #fc814aff;
$gunmetal: #16262eff;
$space-cadet: #2b2d42ff;

/* SCSS HSL */
$deep-sky-blue: hsla(197, 100%, 56%, 1);
$isabelline: hsla(20, 33%, 95%, 1);
$coral: hsla(19, 97%, 64%, 1);
$gunmetal: hsla(200, 35%, 13%, 1);
$space-cadet: hsla(235, 21%, 21%, 1);

/* SCSS RGB */
$deep-sky-blue: rgba(32, 190, 255, 1);
$isabelline: rgba(246, 240, 237, 1);
$coral: rgba(252, 129, 74, 1);
$gunmetal: rgba(22, 38, 46, 1);
$space-cadet: rgba(43, 45, 66, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-right: linear-gradient(90deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-bottom: linear-gradient(180deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-left: linear-gradient(270deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-top-right: linear-gradient(45deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-bottom-right: linear-gradient(135deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-top-left: linear-gradient(225deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-bottom-left: linear-gradient(315deg, #20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);
$gradient-radial: radial-gradient(#20beffff, #f6f0edff, #fc814aff, #16262eff, #2b2d42ff);