@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import "./data/styles.css";

body {
	font-size: 18px;
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
