:root {
	/* ------- colors ------- */
	--primary-color: #16262eff;
	--secondary-color: #2b2d42ff;
	--tertiary-color: #20beffff;
	--quaternary-color: #f6f0edff;
	--link-color: #fc814aff;
	/* ---------------------- */

	--deep-sky-blue: #20beffff;
	--isabelline: #f6f0edff;
	--coral: #fc814aff;
	--gunmetal: #16262eff;
	--space-cadet: #2b2d42ff;

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
